.mat-dialog-title {
  display: flex;
  justify-content: center;
  font-size: 35px;
}

.mat-dialog-content{
  display: flex;
}

.detalhes {
  margin-left: 3%;
}
.detalhes input {
  text-align: right;
  padding: 2% 5%;  
}

.ajuste{
  margin-top: 93%;
}

.texto{
  display: flex;
  margin-left: 3%;  
  font-size: 20px;
  align-items: center;
}

button {
  border-radius: 5px;
  background-color: rgb(184, 135, 209);
  color: white;
}

button:hover {
  background-color: darkorchid;
}
