.teste {
  margin: 3% 0;
  width: 100%;
  text-align: center;
  color: whitesmoke;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
}

.bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5309d791-2e8a-4774-99f1-e9ee83f9f427/def67da-2691baed-c0d3-43fb-b448-289c5faf2eb3.png/v1/fill/w_1280,h_720,q_80,strp/gengar_pokemon_minimal_wallpaper_by_djraspberry1999_def67da-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvNTMwOWQ3OTEtMmU4YS00Nzc0LTk5ZjEtZTllZTgzZjlmNDI3XC9kZWY2N2RhLTI2OTFiYWVkLWMwZDMtNDNmYi1iNDQ4LTI4OWM1ZmFmMmViMy5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.vyvqTJQj132GbUwZKkI9VC-DJtCD79jnZtuK7LWZmGs);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.geracao1 {
  margin-left: 5%;
  background-color: #bbbbbb;
  color: black;
  height: 450px;
  overflow-y: scroll;
  border-radius: 10px;
}

ul {
  list-style: none;
  padding: 5px;
  margin: 0;
}

li {
  padding: 10px;
  border: solid 2px;
  border-radius: 5px;
  margin: 1%;
  background-color: rgba(196, 196, 196, 0.775);
}

li:hover {
  background-color: slategray;
  cursor: pointer;
}

.listas {
  width: 35%;
  margin-top: 3%;
}

ul li {
  justify-content: space-between;
  display: flex;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1f1f1f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h5 {
  font-size: 24px;
  text-align: center;
  padding-top: 3%;
  margin: 0;
  font-weight: 500;
}

.input {
  border-radius: 5px;
  border: solid 1px;
  width: 20vw;
  margin-left: 1%;
}

mat-icon:hover {
  cursor: pointer;
}

.btn {
  margin-top: 50px;
  margin-left: 20px;
}

.btn button {
  padding: 10px;
}

button {
  border-radius: 5px;
  background-color: rgb(184, 135, 209);
  color: white;
}

button:hover {
  background-color: darkorchid;
}

.btn-fecha {
  display: flex;
  justify-content: end;
  padding: 3px;
  margin-left: 105px;
}

.PaiComparacao {
  width: 60%;
  height: 450px;
  background-image: url(https://cache.desktopnexus.com/cropped-wallpapers/1564/1564363-1920x1080-[DesktopNexus.com].jpg?st=KskdQhmtHwN0mHC3ILW4sQ&e=1643234590);
  background-size: cover;
  background-position: center;
  margin-left: 50px;
  margin-top: 50px;
  padding: 30px;
  border: solid 3px;
}

.PaiComparacao-on {
  display: block;
}

.PaiComparacao-off {
  display: none;
}

.comparacao {
  display: flex;
  justify-content: space-between;
  margin: 50px 50px;
}

.PaiComparacao h2 {
  text-align: center;
  color: white;
}

.pai {
  display: flex;
}

.inserir-pokemon {
  background-color: darkgreen;
  width: 175px;
  height: 175px;
  margin-top: 10px;
}

.vs img {
  display: flex;
  align-items: center;
  height: auto; 
  width: auto; 
  max-width: 200px; 
  max-height: 200px;
  margin-top: 5%;
}
