<div class="bg">
  <div class="teste">
    <h1>Bem-vindo ao melhor site de busca Pokémon!</h1>           
    <span style="font-size: 18px">Temos disponíveis todas as gerações Pokémon separadas por listas. Caso deseje procurar algum pokémon em específico usar o input abaixo.</span><br>
    <div class="icon">
      <span style="font-size: 20px">Busque aqui:</span><input 
      class="input" placeholder="Digite o Id ou nome do Pokémon..."  
      />
      <mat-icon (click)="buscar()">search</mat-icon>   
    </div>
  </div>
  <div class="pai">
    <div class="listas">
        <div class="geracao1">    
          <h5>Primeira Geração (001-151)</h5>      
          <ul>
            <li (click)="abrirStats(i)" *ngFor="let pokemon of pokemons; let i = index;">
              {{pokemon.name}} 
              <span>Nº{{pokemon.number}}</span>
            </li>
          </ul>
        </div>
    </div>

    <div class="PaiComparacao"
    [class.PaiComparacao-on]="compararPokemons"
    [class.PaiComparacao-off]="!compararPokemons">
      <h2>COMPARE OS ATRIBUTOS DOS POKEMONS E VEJA QUEM É O MAIS FORTE! <button  class="btn-fecha" (click)="FecharComparar()">X</button></h2>
      
      <div class="comparacao">
        <div class="comparacao1">
          <input type="text" name="pokemon" id="input1" placeholder="buscar...">
          
        </div>

        <div class="comparacao2">
          <input type="text" name="pokemon" id="input2" placeholder="buscar...">
        </div>
      </div>

    </div>
  </div>

  <div class="btn">
    <button (click)="CompararPokemons()">COMPARAR</button>
  </div>
</div>
 